In [39]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasının özelliği
Bu tablo, çeşitli ülkelerle ilgili bir dizi demografik, ekonomik ve coğrafi veriyi içermektedir. Tabloda her bir satır bir ülkeyi temsil ederken, sütunlar bu ülkelerle ilgili farklı özellikleri gösterir. İşte sütunların anlamları:

Country: Ülkenin adı.  
Region: Ülkenin bulunduğu bölge (örneğin, Asya, Doğu Avrupa).  
Population: Ülkenin toplam nüfusu.  
Area (sq. mi.): Ülkenin yüzölçümü (mil kare olarak).  
Pop. Density (per sq. mi.): Nüfus yoğunluğu (mil kare başına düşen kişi sayısı).  
Coastline (coast/area ratio): Sahil uzunluğunun, ülkenin toplam alanına oranı.  
Net migration: Net göç oranı (göçmenlerin ülkeye giren veya ülkeden çıkan kişi sayısına göre oranı).  
Infant mortality (per 1000 births): Bebek ölüm oranı (1000 doğum başına).  
GDP ($ per capita): Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH).  
Literacy (%): Okur-yazarlık oranı.  
Phones (per 1000): Her 1000 kişi başına düşen telefon sayısı.  
Arable (%): Tarıma elverişli arazi yüzdesi.  
Crops (%): Ekilebilir ürünlerin yüzdesi.  
Other (%): Diğer arazi kullanımı yüzdesi.  
Climate: Ülkenin iklim kategorisi (numerik bir değer olarak gösterilmiş).  
Birthrate: Doğum oranı.  
Deathrate: Ölüm oranı.  
Agriculture: Tarım sektörünün ekonomideki payı.  
Industry: Sanayi sektörünün ekonomideki payı.  
Service: Hizmet sektörünün ekonomideki payı.

## Bu Dosyada Yapacağınız görevleri alt taraftan bakabilirsiniz.

## 1. Görev : Nüfusa Göre Azalan Sırada Sıralama:

In [46]:
# Nüfusa Göre Azalan Sırada Sıralama kodunu buraya yazınız
data.columns = data.columns.str.strip()

sorted_df = data.sort_values(by='Population', ascending=False)

print("--- Nüfusa Göre Azalan Sırada Sıralanmış Ülkeler (İlk 10) ---")
print(sorted_df[['Country', 'Region', 'Population']].head(10))

--- Nüfusa Göre Azalan Sırada Sıralanmış Ülkeler (İlk 10) ---
            Country                               Region  Population
42           China         ASIA (EX. NEAR EAST)           1313973713
94           India         ASIA (EX. NEAR EAST)           1095351995
214  United States   NORTHERN AMERICA                      298444215
95       Indonesia         ASIA (EX. NEAR EAST)            245452739
27          Brazil               LATIN AMER. & CARIB       188078227
156       Pakistan         ASIA (EX. NEAR EAST)            165803560
16      Bangladesh         ASIA (EX. NEAR EAST)            147365352
169         Russia                  C.W. OF IND. STATES    142893540
152        Nigeria   SUB-SAHARAN AFRICA                    131859731
103          Japan         ASIA (EX. NEAR EAST)            127463611

## 2. Görev: GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla).

In [49]:
# GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla). kodunu buradan yazınız.
data.columns = data.columns.str.strip()

sorted_gdp = data.sort_values(by='GDP ($ per capita)', ascending=True)

print("--- Kişi Başına Düşen GSYİH'ye Göre Artan Sırada Sıralanmış Ülkeler (İlk 10) ---")
print(sorted_gdp[['Country', 'GDP ($ per capita)']].head(10))

--- Kişi Başına Düşen GSYİH'ye Göre Artan Sırada Sıralanmış Ülkeler (İlk 10) ---
                   Country  GDP ($ per capita)
58             East Timor                500.0
188               Somalia                500.0
183          Sierra Leone                500.0
33                Burundi                600.0
200              Tanzania                600.0
74             Gaza Strip                600.0
125                Malawi                600.0
0             Afghanistan                700.0
46   Congo, Repub. of the                700.0
63                Eritrea                700.0

## 3. Görev: Population sütunu 10 milyonun üzerinde olan ülkeleri seçmek.

In [52]:
# Kodunu buraya yazınız.
data.columns = data.columns.str.strip()
try:
    data['Population'] = data['Population'].astype(str).str.replace(' ', '', regex=False).astype(float).astype(int)
except ValueError:
    print("Hata: 'Population' sütununda sayısal olmayan değerler veya beklenmedik format var. Lütfen veri setinizi kontrol edin.")


pop_condition = data['Population'] > 10000000


high_population_countries = data[pop_condition]

print("--- Nüfusu 10 Milyonun Üzerinde Olan Ülkeler ---")
print(high_population_countries[['Country', 'Region', 'Population']].head())
print(f"\nToplamda {len(high_population_countries)} ülke 10 milyonun üzerinde nüfusa sahiptir.")

--- Nüfusu 10 Milyonun Üzerinde Olan Ülkeler ---
         Country                               Region  Population
0   Afghanistan         ASIA (EX. NEAR EAST)             31056997
2       Algeria   NORTHERN AFRICA                        32930091
5        Angola   SUB-SAHARAN AFRICA                     12127071
8     Argentina               LATIN AMER. & CARIB        39921833
11    Australia   OCEANIA                                20264082

Toplamda 79 ülke 10 milyonun üzerinde nüfusa sahiptir.

## 4. Görev: Literacy (%) sütununa göre ülkeleri sıralayıp, en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçmek.

In [55]:
# Kodunu buraya yazınız.
siralanmis_data = data.sort_values(by='Literacy (%)', ascending=False)
en_iyi_5_ulke = siralanmis_data.head(5)

print("### En Yüksek Okur-Yazarlık Oranına Sahip İlk 5 Ülke ###")
print(en_iyi_5_ulke[['Country', 'Literacy (%)']].to_markdown(index=False))

### En Yüksek Okur-Yazarlık Oranına Sahip İlk 5 Ülke ###
| Country        | Literacy (%)   |
|:---------------|:---------------|
| Czech Republic | 99,9           |
| Iceland        | 99,9           |
| Poland         | 99,8           |
| Latvia         | 99,8           |
| Estonia        | 99,8           |

## 5. Görev:  Kişi Başı GSYİH 10.000'in Üzerinde Olan Ülkeleri Filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçmek.

In [58]:
# Kodunu buraya yazınız.
gdp_sutun_adi = 'GDP ($ per capita)'

filtreli_ulkeler = data[data[gdp_sutun_adi] > 10000]

print("### Kişi Başı GSYİH'si 10.000'in Üzerinde Olan Ülkeler ###")

print(filtreli_ulkeler[['Country', gdp_sutun_adi]].to_markdown(index=False))

### Kişi Başı GSYİH'si 10.000'in Üzerinde Olan Ülkeler ###
| Country              |   GDP ($ per capita) |
|:---------------------|---------------------:|
| Andorra              |                19000 |
| Antigua & Barbuda    |                11000 |
| Argentina            |                11200 |
| Aruba                |                28000 |
| Australia            |                29000 |
| Austria              |                30000 |
| Bahamas, The         |                16700 |
| Bahrain              |                16900 |
| Barbados             |                15700 |
| Belgium              |                29100 |
| Bermuda              |                36000 |
| British Virgin Is.   |                16000 |
| Brunei               |                18600 |
| Canada               |                29800 |
| Cayman Islands       |                35000 |
| Croatia              |                10600 |
| Cyprus               |                19200 |
| Czech Republic       |                15700 |
| Denmark              |                31100 |
| Estonia              |                12300 |
| Faroe Islands        |                22000 |
| Finland              |                27400 |
| France               |                27600 |
| French Polynesia     |                17500 |
| Germany              |                27600 |
| Gibraltar            |                17500 |
| Greece               |                20000 |
| Greenland            |                20000 |
| Guam                 |                21000 |
| Guernsey             |                20000 |
| Hong Kong            |                28800 |
| Hungary              |                13900 |
| Iceland              |                30900 |
| Ireland              |                29600 |
| Isle of Man          |                21000 |
| Israel               |                19800 |
| Italy                |                26700 |
| Japan                |                28200 |
| Jersey               |                24800 |
| Korea, South         |                17800 |
| Kuwait               |                19000 |
| Latvia               |                10200 |
| Liechtenstein        |                25000 |
| Lithuania            |                11400 |
| Luxembourg           |                55100 |
| Macau                |                19400 |
| Malta                |                17700 |
| Martinique           |                14400 |
| Mauritius            |                11400 |
| Monaco               |                27000 |
| Netherlands          |                28600 |
| Netherlands Antilles |                11400 |
| New Caledonia        |                15000 |
| New Zealand          |                21600 |
| N. Mariana Islands   |                12500 |
| Norway               |                37800 |
| Oman                 |                13100 |
| Poland               |                11100 |
| Portugal             |                18000 |
| Puerto Rico          |                16800 |
| Qatar                |                21500 |
| San Marino           |                34600 |
| Saudi Arabia         |                11800 |
| Singapore            |                23700 |
| Slovakia             |                13300 |
| Slovenia             |                19000 |
| South Africa         |                10700 |
| Spain                |                22000 |
| Sweden               |                26800 |
| Switzerland          |                32700 |
| Taiwan               |                23400 |
| United Arab Emirates |                23200 |
| United Kingdom       |                27700 |
| United States        |                37800 |
| Uruguay              |                12800 |
| Virgin Islands       |                17200 |

## Görev 6 : En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme:
Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayıp, en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçmek.

In [61]:
siralama = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False)
en_yogun_10_ulke = siralama.head(10)

print("### En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme ###")
print(en_yogun_10_ulke[['Country', 'Pop. Density (per sq. mi.)']].to_markdown(index=False))

### En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme ###
| Country    | Pop. Density (per sq. mi.)   |
|:-----------|:-----------------------------|
| Armenia    | 99,9                         |
| Slovenia   | 99,2                         |
| Togo       | 97,7                         |
| Austria    | 97,7                         |
| Romania    | 93,9                         |
| Ghana      | 93,6                         |
| Montserrat | 92,5                         |
| Azerbaijan | 91,9                         |
| Dominica   | 91,4                         |
| Turkey     | 90,2                         |